/*=================================================
          grid
=================================================*/
.float-row {
  @include make-row();
  .col,
  [class*="col-"]{
    position: relative;
    width: 100%;
    min-height: 1px;
    float: left;
  }
  @include make-col-set();
}

.flex-row {
  @include make-flex-row();
  .col,
  [class*="col-"]{
    position: relative;
    width: 100%;
  }
  @include make-flex-col-set();
}

// pull, push, offset 
@include make-pullPushOffset-set();
